.logo{
	color: #3385ff;
	font-size: 40px;
	text-align: center;
}
body{
	align-content: center;
	background-color: #cccccc;
}
#autoFillTab{
	text-align: center;
	font-size: 15px;
	color: #3385ff;
}

input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
  border: thin;
  border-width: 2px;
  
}

input[type="submit"]:hover {
	color: #3385ff
}

.staticTab {
    width: 300px;
    margin: auto;
    border: 1px solid #3385ff;
}